MATTERMOST_URL=https://example.com
MATTERMOST_PORT=443
SSL_VERIFY=true
BOT_TOKEN=your-bot-token

CHANNEL_ID=your-channel-id

WEBHOOK_HOST_ENABLED=true
WEBHOOK_HOST_URL=http://0.0.0.0
WEBHOOK_HOST_PORT=8579

WEBHOOK_PUBLIC_URL=http://127.0.0.1
WEBHOOK_PUBLIC_PORT=8579

APP_LOG_LEVEL=INFO
